<div class="row events-tab-inner-container">

  <div class="col-md-8 text-center events-list">
    <div class="event-list-pagination-block">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div *ngFor="let event of events | paginate: { itemsPerPage: 6, currentPage: page}" class="event-item">
      <div (click)="enableEventDetails(event.id)" class="">
        <div class="row">
          <div class="event-title-container col-md-12">
            {{event.title}}
          </div>
          <div class=" col-md-12 event-date-container">
            Date of event: {{event.date | date:'yyyy-MM-dd HH:mm a'}}
          </div>
        </div>
        <div class="row">
          <div class="event-image-container col-md-6"><img src="{{event.imgUrl}}"></div>
          <div class="event-text-info-container col-md-6">
            <div class="event-price-diapason-container">Tickets price diapason: {{event.minPrice}} -
              {{event.maxPrice}}
            </div>
            <div class="event-address-container">
              {{event.eventPlace.city}} ,{{ event.eventPlace.streetAddress}}
            </div>
            <div class="event-place-name-container">
              {{event.eventPlace.placeName}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="event-list-pagination-block">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
