.header-language-item img {
  max-width: 25px;
  max-height: 25px;
}

div#header-upper-content {
  height: 100px;
}

input#search-events-input-field {
  width: 80%;
}

div#header-logo-container {
  padding-left: 30%;
  padding-top: 14px;
}

.header-section-block {
  display: inline-block;
  vertical-align: bottom;
}

.header-search-events-container {
  padding-top: 55px;
  margin-left: 10%;
}

#header-logo-img {
  height: 80px;
  width: 200px;
}

#header-main-container {
  height: 150px;
}

button.header-search-button {
  background-repeat: round;
  background-image: url("assets/images/Search_Button.png");
  width: 30px;
  vertical-align: bottom;
  height: 30px;
  border: 0px;
}

div#header-cart-container {
  height: 50%;
}

div#header-account-container {
  height: 50%;
}

div#header-navbar div.col-sm-12 {
  padding: 0;
}
