.header-language-item img {
  max-width: 25px;
  max-height: 25px;
}

input#search-events-input-field {
  width: 80%;
}

div#header-logo-container {
  padding-left: 30%;
  padding-top: 14px;
}

.header-section-block {
  display: inline-block;
  vertical-align: bottom;
  outline: 1px solid green;
  height: 100px;
}

#header-search-events-container {
  padding-top: 55px;
  margin-left: 10%;
}

#header-logo-img {
  height: 80px;
  width: 200px;
}

#header-main-container {
  height: 150px;
  background-color: #D50000
}
button#header-search-button {
  background-repeat: round;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMyEVV2Q7aM1gBhMyPOOegFKMwMxaGaL5SGAhPVyFtOES7n64S");
  width: 30px;
  vertical-align: bottom;
  height: 30px;
}

div#header-cart-container {
  height: 50%;
}

div#header-account-container {
  height: 50%;
}
