<div class="container" id="header-main-container">
  <div class="row" id="header-upper-content">
    <div id="header-logo-section-block" class="header-section-block col-sm-3">
      <div id="header-logo-container">
        <a href="/">
          <img class="img-fluid" id="header-logo-img" src="assets/images/logo/get-your-tickets-now.png">
        </a>
      </div>
    </div>
    <div id="header-search-events-section-block" class="header-section-block col-sm-6">
      <div class="input-group header-search-events-container">
        <input type="text" id="search-events-input-field"
               placeholder="{{ 'header.events.search.placeholder' | translate}}">
        <span class="input-group-btn">
        <button type="button" class="btn btn-secondary header-search-button"></button>
        </span>
      </div>
    </div>
    <div class="header-section-block header-languages-section-block col-sm-1">
      <div id="header-languages-container">
        <p>{{"header.language.select" | translate}}</p>
        <div class="header-language-links-container text-center">
          <a class="header-language-item" (click)="changeLanguage('ru')">
            <img class="img-fluid"
                 src="assets/images/languages/icon_Russian.png">
          </a>
          <a class="header-language-item" (click)="changeLanguage('en')">
            <img class="img-fluid"
                 src="assets/images/languages/icon_English.png">
          </a>
        </div>
      </div>
    </div>
    <div id="header-right-section-block" class="header-section-block col-sm-2">
      <div id="header-account-container">
        <app-account-entry></app-account-entry>
      </div>
      <div id="header-cart-container">
        <app-cart-entry></app-cart-entry>
      </div>
    </div>
  </div>
  <div class="row" id="header-navbar">
    <div class="col-sm-12">
      <app-navbar></app-navbar>
    </div>
  </div>

</div>
