<div class="switcher-buttons">
  <ngb-tabset #userCabinetTabset="ngbTabset" (tabChange)="selectMethodOnChange($event)">
    <ngb-tab id="account-info-tab">
      <ng-template ngbTabTitle>
        <b>Account info</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="account-info-details-container tab-inner-content-block">
          <app-account-info [user]="user"></app-account-info>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="user-orders" *ngIf="isUser">
      <ng-template ngbTabTitle><b>Orders</b></ng-template>
      <ng-template ngbTabContent>
        <div class="orders-details tab-inner-content-block">
          <app-user-orders [orders]="orders"></app-user-orders>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="organizer-events-tab" *ngIf="isOrganizer">
      <ng-template ngbTabTitle><b>Events</b></ng-template>
      <ng-template ngbTabContent>
        <div class="events-details tab-inner-content-block">
          <app-organizer-events [events]="organizedEvents"></app-organizer-events>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="organizer-unapproved-tabs" *ngIf="isOrganizer">
      <ng-template ngbTabTitle><b>Unapproved</b></ng-template>
      <ng-template ngbTabContent>
        <div class="events-details tab-inner-content-block">
          <app-organizer-events [events]="unapprovedEvents"></app-organizer-events>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="event-editor-tab" *ngIf="isOrganizer">
      <ng-template ngbTabTitle><b>Event editor</b></ng-template>
      <ng-template ngbTabContent>
        <app-event-editor></app-event-editor>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="admin-requests-tab" *ngIf="isAdmin">
      <ng-template ngbTabTitle><b>Requests</b></ng-template>
      <ng-template ngbTabContent>
        <div class="requests-details tab-inner-content-block">
          <app-admin-requests [requests]="unapprovedEvents"></app-admin-requests>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
