<div class="order-info">
  <div class="text-center"><span>Order №</span> {{order.id}}</div>
  <div class="text-center"><span>Purchased:</span> {{order.orderDate | date:'yyyy-MM-dd HH:mm a'}}</div>
  <div class="order-info-ticket_list" *ngFor="let ticket of order.ticketList">
    <div><span>Ticket description:</span>{{ticket.ticketType.ticketDescription}}</div>
    <div><span>Type:</span> {{ticket.ticketType.typeDescription}}</div>
    <div><span>Price:</span> {{ticket.ticketPrice}}</div>
    <div><span>Ticket status:</span> {{ticket.ticketState>1? "Reserved": "Ordered"}}</div>
    <br>
  </div>
  <div class="order-info-price"><span>TotalPrice:</span> {{totalPrice}};</div>
</div>
