<div class="event-editor-main-container">
  <div *ngIf="editorFormEnabled" class="create-event-form-container">
    <div class="row">
      <div class="col-md-12 text-center">
        <label>Event title</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 date-picker-container">
        <label>Date of event:</label>
      </div>
      <div class="col-md-6 file-uploader-container">

      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col-md-6">
        Ticket editor
        <button>Add ticket</button>
      </div>
      <div class="col-md-6">
        Event place
        <button>Add place</button>
      </div>
    </div>
  </div>
  <button *ngIf="!editorFormEnabled" (click)="startEditing()" class="btn btn-primary">Create event</button>
  <button *ngIf="editorFormEnabled" (click)="saveContent()">Save</button>
  <button *ngIf="editorFormEnabled" (click)="clearContent()">Cancel</button>
</div>
