.order-list-column {
  overflow-y: scroll;
  direction: rtl;
}

.order-item {
  direction: ltr;
  border: 1px solid black;
  padding: 3px;
  margin: 10px 5px;
  height: 100px;
}

.order-item:hover {
  border: 1px solid #DC4C46;
}

.order-item-selected {
  border: 1px solid #DC4C46;
}

.order-list-pagination-block {
  direction: ltr;
}

.order-details-column {
  max-height: 400px;
  overflow-y: scroll;
}
