<div class="row orders-tab-inner-container">
  <div *ngIf="!orderSelected" class="col-md-8 order-detail-placeholder">
    <div class="order-details-inner-container">
      <h3 class="text-center">Select an order</h3>
    </div>
  </div>
  <div *ngIf="orderSelected" class="col-md-8 order-details-column">
    <div class="order-details-inner-container">
      <app-user-order-details [order]="selectedOrder"></app-user-order-details>
    </div>
  </div>
  <div class="col-md-4 order-list-column">
    <div *ngFor="let order of orders | paginate: { itemsPerPage: 6, currentPage: page }" class="order-item text-center">
      <div (click)="selectOrder(order)">
        <div>#{{order.id}}</div>
        <div>Ordered: {{order.orderDate}}</div>
        <br>
        <div>Total price : 100$</div>
      </div>
    </div>
    <div class="order-list-pagination-block">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
