<div class="event-details-main-container">
  <div class="row">
    <div class="event-info-container col-md-8">
      <app-event-base-info [selectedEvent]="event"></app-event-base-info>
    </div>
    <div class="event-right-side-content col-md-4">
      <app-event-place-map [selectedEvent]="event"></app-event-place-map>
      <div class="event-organizer-info">

        <div class="organizer-info-title-block text-center">
          <span class="font-italic">Organizer info</span>
        </div>
        <div class="organizer-info-organization-name text-left ">
          <span class="font-italic">Organization: </span>{{organizer.organization}}
        </div>
        <div class="organizer-info-email text-left">
          <span class="font-italic">Email: </span>{{organizer.email}}
        </div>
        <div class="organizer-info-phone-number text-left">
          <span class="font-italic">Phone: </span>{{organizer.phoneNumber}}
        </div>
      </div>
    </div>
  </div>
  <div class="event-full-description-container">
    <router-outlet></router-outlet>
  </div>
</div>
