img#event-info-main-image {
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 10px 3px #dadada;
}

.event-info-main-image-container {
  padding-top: 20px;
}

.price-info {
  margin-top: 50px;
}

.event-date-and-place-info-container, .price-info {
  font-size: 25px;
}

h3 {
  margin-bottom: 50px;
}

.buy-ticket-button, .add-to-calendar-button {
  width: 200px;
  height: 50px;
  font-size: 25px;
}

.add-to-calendar-button {
  width: 300px;
}
