<div class="row">
  <div class="event-info-images-container col-md-5">
    <div class="event-info-main-image-container">
      <img id="event-info-main-image"
           src="https://www.kvitki.by/imageGenerator/1e9d5809be5d51c3c6b5b908606527c8/galleryFullImage">
    </div>
    <div class="event-info-other-images">
      Other event pictures
    </div>
  </div>
  <div class="event-info-text-container col-md-7">
    <p class="font-weight-bold text-center">{{selectedEvent.title}}</p>
    <div class="event-date-and-place-info-container text-center">
      <p>
        <span class="event-date-info">{{selectedEvent.date}}</span>
        <span class="event-place-info">
                {{selectedEvent.eventPlace.placeAddress}}<br>
                {{selectedEvent.eventPlace.placeName}}
              </span>
      </p>
      <button class="btn btn-success">Добавить в календарь</button>
    </div>
    <div class="price-info text-center">
      <p>
        <span>Цена</span><br>
        <span>{{selectedEvent.minPrice}} - {{selectedEvent.maxPrice}}</span>
      </p>
      <button class="btn btn-success" (click)="buyTickets()">Купить</button>
    </div>
  </div>
</div>
