<div class="row">
  <div class="event-info-images-container col-md-5">
    <div class="event-info-main-image-container">
      <img id="event-info-main-image"
           src="https://www.kvitki.by/imageGenerator/1e9d5809be5d51c3c6b5b908606527c8/galleryFullImage">
    </div>
  </div>
  <div class="event-info-text-container col-md-7">
    <h3 class="font-weight-bold text-center">{{selectedEvent.title}}</h3>
    <div class="event-date-and-place-info-container text-center">
      <p>
        <span class="event-date-info-title font-italic">
          Date of event:
        </span>
        <span class="event-date-info-details">{{selectedEvent.date | date:'yyyy-MM-dd HH:mm a'}}</span>
        <br>
        <span class="event-place-info">
          {{selectedEvent.eventPlace.placeName}}
          {{selectedEvent.eventPlace.city}}
        </span>
      </p>
      <button class="btn btn-success add-to-calendar-button">Add to calendar</button>
    </div>
    <div class="price-info text-center">
      <p>
        <span class="font-italic">Price diapason:</span>
        <span>{{selectedEvent.minPrice}} - {{selectedEvent.maxPrice}}</span>
      </p>
      <button class="btn btn-success buy-ticket-button" (click)="buyTickets()">Buy</button>
    </div>
  </div>
  <button *ngIf="!selectedEvent.approved && accountEntryService.isAdmin" (click)="approveEvent()">Approve</button>
</div>
