<form (ngSubmit)="submitLogin()">
  <div>
    <label style="display:block" for="login-input">Login</label>
    <input type="text" name="login"
           id="login-input" required
           [(ngModel)]="loginData.login">
  </div>
  <div>
    <label style="display:block" for="pass-input">Password</label>
    <input type="password" name="password"
           id="pass-input" required
           [(ngModel)]="loginData.password">
  </div>
  <div>
    <button type="submit">Log in</button>
  </div>
</form>
