<div class="account-info-details-inner-container">
  <h2 class="text-center">Account info details</h2>
  <div class="account-info-details-form-container">
    <form #editAcountInfoForm="ngForm" id="account-info-editor-form">
      <div class="account-info-input-block">
        <label>
          Your login:
        </label>
        <span> {{user.login}} </span>
      </div>
      <div class="account-info-input-block">
        <label>
          Your email:
        </label>
        <span *ngIf="!accountInfoEditing"> {{user.email}} </span>
        <input *ngIf="accountInfoEditing" type="text" name="account-info-email-input" id="account-info-email-input"
               placeholder="login"
               class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
               [(ngModel)]="user.email" #email="ngModel" pattern="" required>
      </div>
      <div class="account-info-input-block">
        <label>
          Your firstname:
        </label>
        <span *ngIf="!accountInfoEditing"> {{user.firstName}} </span>
        <input *ngIf="accountInfoEditing" type="text" name="account-info-firstname-input"
               id="account-info-firstname-input"
               placeholder=""
               class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
               [(ngModel)]="user.firstName" #firstname="ngModel" pattern="" required>
      </div>
      <div class="account-info-input-block">
        <label>
          Your lastname:
        </label>
        <span *ngIf="!accountInfoEditing"> {{user.lastName}} </span>
        <input *ngIf="accountInfoEditing" type="text" name="account-info-lastname-input"
               id="account-info-lastname-input"
               placeholder=""
               class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
               [(ngModel)]="user.lastName" #lastname="ngModel" pattern="" required>
      </div>
      <div class="account-info-input-block">
        <label>
          Organization:
        </label>
        <span *ngIf="!accountInfoEditing"> {{user.organization}} </span>
        <input *ngIf="accountInfoEditing" type="text" name="account-info-organization-input"
               id="account-info-organization-input"
               placeholder="login"
               class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
               [(ngModel)]="user.organization" #organization="ngModel" pattern="" required>
      </div>
      <div class="account-info-input-block">
        <label>
          Your number:
        </label>
        <span *ngIf="!accountInfoEditing"> {{user.phoneNumber}} </span>
        <input *ngIf="accountInfoEditing" type="text" name="account-info-phone-input" id="account-info-phone-input"
               placeholder="login"
               class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
               [(ngModel)]="user.phoneNumber" #phone="ngModel" pattern="" required>
      </div>
      <div *ngIf="!accountInfoEditing && !newPasswordEnabled">
        <button class="btn btn-primary btn-block account-edit-button" (click)="enableAccountInfoEditing()">Edit</button>
      </div>
      <div class="account-editing-cancel-submit-buttons" *ngIf="accountInfoEditing">
        <button class="btn btn-block btn-success" (click)="submitUpdate()">Save</button>
        <button class="btn btn-block btn-danger" (click)="cancelAccountInfoEditing();">Cancel</button>
      </div>
      <div class="change-password-block">
        <button *ngIf="!accountInfoEditing && !newPasswordEnabled"
                class="btn btn-primary btn-block changepassword-button" (click)="enableChangePassword()">Change password
        </button>
        <form *ngIf="newPasswordEnabled" #changePasswrodForm="ngForm">
          <div class="text-center">
            <label>Current password</label>
          </div>
          <input type="text" name="current-password-input" id="current-password-input"
                 class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                 [(ngModel)]="changePasswordDto.currentPassword" #currentPassword="ngModel"
                 pattern="^[a-zA-Z0-9]{6,15}$" required>
          <div class="text-center">
            <label>New password</label>
          </div>
          <input type="text" name="new-password-input" id="new-password-input"
                 class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                 [(ngModel)]="changePasswordDto.newPassword" #newPassword="ngModel" pattern="^[a-zA-Z0-9]{6,15}$"
                 required>
          <div class="changepassword-save-cancel-buttons">
            <button class="btn btn-block btn-success" (click)="sendChangePasswordRequest()">Change</button>
            <button class="btn btn-block btn-danger" (click)="cancelChangePassword()">Cancel</button>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
