div.footer-main-container {
  height: 140px;
}

div.footer-main-container .row {
  height: 100%;
}

div.footer-column-container {
  border-left: 1px #6b7b7a solid;
}

.footer-links-container p {
  color: white;
}

.footer-links-container a {
  color: #6b7b7a;
  display: block;
  font-size: 14px;
}
