<div class="footer-main-container">
  <div class="row">
    <div class="footer-column-container col-md-2">
      <div class="footer-links-container">

        <p class="footer-column-text-headline">
          HOW TO BUY
        </p>
        <a class="footer-link" href="#">How to buy
        </a>
        <a class="footer-link" href="#">Order tickets using site
        </a>
        <a class="footer-link" href="#">Payments via ASSIST system
        </a>
      </div>
    </div>
    <div class="footer-column-container col-md-2">
      <div class="footer-links-container">
        <p class="footer-column-text-headline">
          FOR ORGANIZER
        </p>
        <a class="footer-link" href="#">Services
        </a>
        <a class="footer-link" href="#">Get account code
        </a>
      </div>
    </div>
    <div class="footer-column-container col-md-2">
      <div class="footer-links-container">
        <p class="footer-column-text-headline">
          Contact us!
        </p>
        <a class="footer-link" href="#">Contact us
        </a>
      </div>
    </div>
    <div class="footer-column-container col-md-2">
      <div class="footer-links-container">
        <p class="footer-column-text-headline">
          ABOUT COMPANY
        </p>
        <a class="footer-link" href="#">Contacts
        </a>
        <a class="footer-link" href="#">History
        </a>
      </div>
    </div>
    <div class="footer-column-container col-md-4">
      <div class="footer-links-container">
        <p class="footer-column-text-headline">
          SUBSCRIBITION
        </p>
        <div class="footer-newsletter-block">
          <div class="newsletter-input-container footer-newsletter-component-block input-group input-group-sm mb-3">
            <input id="footer-newsletter-input" type="text" class="form-control" placeholder="email"
                   aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="footer-newsletter-component-block">
            <button class="btn btn-sm btn-success footer-newsletter-submit-button">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
