<div class="event-tickets-overview-main-container row">
  <!--TODO ADD TABS-->
  <div class="event-ticket-list col-md-6">
    <table class="table table-hover event-tickets-table">
      <thead>
      <tr>
        <th scope="col">Ticket Type</th>
        <th scope="col">Price</th>
        <th scope="col">Available</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Vip-zone-a</td>
        <td>10000</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Dance floor</td>
        <td>4000</td>
        <td>30</td>
      </tr>
      <tr>
        <td>Vip-zone-b</td>
        <td>300</td>
        <td>10</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="event-place-scheme col-md-6">
    <img style="display:block;margin: 10px auto;" src="assets/images/ticket_plan.jpg">
  </div>
</div>
