<div class="event-tickets-overview-main-container row">
  <div class="event-ticket-list col-md-6">
    <table class="table table-hover event-tickets-table">
      <thead>
      <tr>
        <th scope="col">Ticket Type</th>
        <th scope="col">Price</th>
        <th scope="col">Available</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of ticketsInfo">
        <td>{{ticket.ticket.ticketType.typeDescription}}</td>
        <td>{{ticket.ticket.ticketPrice}}</td>
        <td>{{ticket.amount}}</td>
        <td>
          <button (click)="incrementAmount(ticket);">plus</button>
          {{ticket.selectedAmount}}
          <button (click)="decrementAmount(ticket);">minus</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button (click)="addToSelected()">Add tickets</button>
  </div>
  <div *ngIf="hasSelectedTickets()" class="event-selected-tickets row col-md-6">
    <table class="table table-hover event-selected-tickets-table">
      <thead>
      <tr>
        <th scope="col">Ticket Type</th>
        <th scope="col">Price</th>
        <th scope="col">Selected</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of selectedTickets">
        <td>{{ticket.ticket.ticketType.typeDescription}}</td>
        <td>{{ticket.ticket.ticketPrice}}</td>
        <td>{{ticket.selectedAmount}}</td>
        <td><button (click)="removeSelection(ticket)">X</button></td>
      </tr>
      </tbody>
    </table>
    <button (click)="prepareOrder(selectedTickets)">Add to cart</button>
  </div>
</div>
