<div class="event-tickets-overview-main-container row">
  <div class="event-ticket-list col-md-6">
    <table class="table table-hover event-tickets-table">
      <thead>
      <tr>
        <th scope="col">Ticket Type</th>
        <th scope="col">Price</th>
        <th scope="col">Available</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of ticketsInfo">
        <td>{{ticket.ticket.ticketType.typeDescription}}</td>
        <td>{{ticket.ticket.ticketPrice}}</td>
        <td>{{ticket.amount}}</td>
        <td>
          <button (click)="incrementAmount(ticket);">
            <img class="event-details-plusminus-buttons" src="assets/images/buttons/button_plus.png">
          </button>
          {{ticket.selectedAmount}}
          <button (click)="decrementAmount(ticket);">
            <img class="event-details-plusminus-buttons" src="assets/images/buttons/button_minus.png">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="addToSelected()">Add tickets</button>
  </div>
  <div *ngIf="hasSelectedTickets()" class="event-ticket-list col-md-6">
    <table class="table table-hover event-tickets-table">
      <thead>
      <tr>
        <th scope="col">Ticket Type</th>
        <th scope="col">Price</th>
        <th scope="col">Selected</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of selectedTickets">
        <td>{{ticket.ticket.ticketType.typeDescription}}</td>
        <td>{{ticket.ticket.ticketPrice}}</td>
        <td>{{ticket.selectedAmount}}</td>
        <td>
          <button (click)="removeSelection(ticket)">
            <img class="event-details-plusminus-buttons" src="assets/images/buttons/button_delete.png">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button class="btn btn-success" (click)="prepareOrder(selectedTickets)">Add to cart</button>
    </div>
  </div>
</div>
