<form #registrationForm="ngForm" id="registration-form" (ngSubmit)="register()">
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-login-input">
      {{'registration.form.login.label' | translate}}
    </label>
    <input type="text" name="registration-login" id="registration-login-input"
           placeholder="{{'registration.form.login.placeholder' | translate}}"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.login" #login="ngModel" pattern="^[a-zA-Z0-9]{4,15}$" required>
    <div *ngIf="login.touched && login.invalid"
         class="alert alert-danger">
      {{'registration.form.error.common' | translate}}
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-email-input">
      {{'registration.form.email.label' | translate}}
    </label>
    <input type="email" name="registration-email" id="registration-email-input"
           placeholder="{{'registration.form.email.placeholder' | translate}}"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.email" #email="ngModel" email="true" required>
    <div *ngIf="email.touched && email.invalid"
         class="alert alert-danger">
      {{'registration.form.error.common' | translate}}
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-password-input">
      {{'registration.form.password.label' | translate}}
    </label>
    <input type="password" name="registration-password" id="registration-password-input"
           placeholder="{{'registration.form.password.placeholder' | translate}}"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.password" #password="ngModel"
           pattern="^[a-zA-Z0-9]{6,15}$" required>
    <div *ngIf="password.touched && password.invalid"
         class="alert alert-danger">
      {{'registration.form.error.common' | translate}}
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-firstname-input">
      {{'registration.form.firstname.label' | translate}}
    </label>
    <input type="text" name="registration-firstname" id="registration-firstname-input"
           placeholder="{{'registration.form.firstname.placeholder' | translate}}"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.firstName" #firstName="ngModel">
    <div *ngIf="firstName.touched && firstName.invalid"
         class="alert alert-danger">
      {{'registration.form.error.common' | translate}}
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-lastname-input">
      {{'registration.form.lastname.label' | translate}}
    </label>
    <input type="text" name="registration-lastname" id="registration-lastname-input"
           placeholder="{{'registration.form.lastname.placeholder' | translate}}"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.lastName" #lastName="ngModel">
    <div *ngIf="lastName.touched && lastName.invalid"
         class="alert alert-danger">
      {{'registration.form.error.common' | translate}}
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-organization-input">
      {{'registration.form.organization.label' | translate}}
    </label>
    <input type="text" name="registration-organization" id="registration-organization-input"
           placeholder="{{'registration.form.organization.placeholder' | translate}}"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.organization" #organization="ngModel">
    <div *ngIf="organization.touched && organization.invalid"
         class="alert alert-danger">
      {{'registration.form.error.common' | translate}}
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-phone-input">
      {{'registration.form.phonenumber.label' | translate}}
    </label>
    <input type="text" name="registration-phone-input" id="registration-phone-input"
           placeholder="{{'registration.form.phonenumber.placeholder' | translate}}"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.phoneNumber" #phone="ngModel">
    <div *ngIf="phone.touched && phone.invalid"
         class="alert alert-danger">
      {{'registration.form.error.common' | translate}}
    </div>
  </div>
  <div class="register-special-account-checkbox text-center">
    <label>Register special account</label>
    <input type="checkbox" (change)="registerSpecialAccount = !registerSpecialAccount">
  </div>
  <div *ngIf="registerSpecialAccount" class="registration-input-block">
    <label class="block-label text-center" for="registration-code-input">
      {{'registration.form.code.label' | translate}}
    </label>
    <input type="text" name="registration-secret-code" id="registration-code-input"
           placeholder="{{'registration.form.code.placeholder' | translate}}"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.secretCode" #secretCode="ngModel">
    <div *ngIf="secretCode.touched && secretCode.invalid"
         class="alert alert-danger">
      {{'registration.form.error.common' | translate}}
    </div>
  </div>
  <div id="registration-submit-button" class="submit-button text-center">
    <input type="submit" class="btn btn-success" value="{{'registration.button' | translate}}"
           [disabled]="!registrationForm.form.valid">
  </div>
</form>
