<form #registrationForm="ngForm" id="registration-form" (ngSubmit)="register()">
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-login-input">Login</label>
    <input type="text" name="registration-login" id="registration-login-input" placeholder="username"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.login" #login="ngModel" pattern="^[a-zA-Z0-9]{4,15}$" required>
    <div *ngIf="login.touched && login.invalid"
         class="alert alert-danger">
      Message and styles must be here!
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-email-input">Email</label>
    <input type="email" name="registration-email" id="registration-email-input" placeholder="email"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.email" #email="ngModel" email="true" required>
    <div *ngIf="email.touched && email.invalid"
         class="alert alert-danger">
      Message and styles must be here!
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-password-input">Password</label>
    <input type="password" name="registration-password" id="registration-password-input" placeholder="password"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.password" #password="ngModel"
           pattern="^[a-zA-Z0-9]{6,15}$" required>
    <div *ngIf="password.touched && password.invalid"
         class="alert alert-danger">
      Message and styles must be here!
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-firstname-input">Firstname</label>
    <input type="text" name="registration-firstname" id="registration-firstname-input" placeholder="first name"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.firstName" #firstName="ngModel">
    <div *ngIf="firstName.touched && firstName.invalid"
         class="alert alert-danger">
      Message and styles must be here!
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-lastname-input">Last name</label>
    <input type="text" name="registration-lastname" id="registration-lastname-input" placeholder="last name"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.lastName" #lastName="ngModel">
    <div *ngIf="lastName.touched && lastName.invalid"
         class="alert alert-danger">
      Message and styles must be here!
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-organization-input">Organization</label>
    <input type="text" name="registration-organization" id="registration-organization-input" placeholder="organization"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.organization" #organization="ngModel">
    <div *ngIf="organization.touched && organization.invalid"
         class="alert alert-danger">
      Message and styles must be here!
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-phone-input">Phone number</label>
    <input type="text" name="registration-phone-input" id="registration-phone-input" placeholder="phone number"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.phoneNumber" #phone="ngModel">
    <div *ngIf="phone.touched && phone.invalid"
         class="alert alert-danger">
      Message and styles must be here!
    </div>
  </div>
  <div class="registration-input-block">
    <label class="block-label text-center" for="registration-code-input">Secret code</label>
    <input type="text" name="registration-secret-code" id="registration-code-input" placeholder="for special accounts"
           class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
           [(ngModel)]="registrationData.secretCode" #secretCode="ngModel">
    <div *ngIf="secretCode.touched && secretCode.invalid"
         class="alert alert-danger">
      Message and styles must be here!
    </div>
  </div>
  <div id="registration-submit-button" class="submit-button text-center">
    <input type="submit" class="btn btn-success" value="Register" [disabled]="!registrationForm.form.valid">
  </div>
  <div class="social-login-container">
    <div class="row">
      <div class="social-login-images">
        <div class="text-center">
          <img class="social-login-image"
               src="https://i.pinimg.com/736x/89/67/d9/8967d993037b3608240346b4e46b86f9--animation-gif.jpg">
        </div>
        <div class="text-center">
          <img class="social-login-image"
               src="https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png">
        </div>
      </div>
    </div>
  </div>
</form>
